In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\pspap\summertraining2023\MLcode\SalaryData - Sheet1 (1).csv")

In [3]:
dataset

   Yearexpe  Salary
0       1.1   39343
1       1.3   46205
2       1.5   37731
3       2.0   43525
4       2.2   39891
5       2.9   56642
6       3.0   60150
7       3.2   54445
8       3.2   64445

In [4]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter("Yearexpe, Salary")
plt.xlabel("Yearsalary")
plt.ylabel("Salary")
plt.show()

In [5]:
from sklearn.learn import train_test_split()

SyntaxError: invalid syntax (1894534243.py, line 1)